{% extends "::base.html.twig" %}

{% block content %}
    <center><h3>liste des photos</h3></center>
    <p>Nom de l'activité : {{ activity.activityName }}</p>

    <p>Date de l'activité : {{ activity.date|date("m/d/Y")|date('Y-m-d') }}</p>
    <p>Plus de détails sur activité: {{ activity.description }}</p>
     {% if activity.price == 0 %}
         <p>
             L'activité est gratuite</p>
         {% else %}
             <p> Le prix est de :
        {{ activity.price }}</p>
     {%  endif %}

    <h3>Photo de l'activité :</h3>
    {% for photo in photos %}
        <img src="{{ asset(photo.getWebPath()) }}" />
        <p>{{ photo.descriptionPhoto }}</p>


    {% endfor %}

    <center><h3>Ajouter une photo</h3></center>
    <div class="well">
        <div class="row">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="col-lg-12">
                {{ form_row(form.file) }}
                {{ form_row(form.descriptionPhoto) }}
                <input type="submit" class="btn btn-primary" value="Send"/>

            </div>

            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}