{% extends "::base.html.twig" %}

{% block content %}

    <h1 style="text-align: center">Liste des activitées validées</h1>
    <div class="row">
        <div class="col-lg-12">

                    {% for activity in listValidActivity %}
                            <h2><strong> {{ activity.activityName }} : {{ activity.date|date("m/d/Y")|date('Y-m-d') }}</strong></h2>
                            <h4><br></h4>
                            <h4>{{ activity.description }}</h4>
                        {% if activity.price == 0 %}
                            <h4> <p>
                                L'activité est <strong>gratuite</strong></p></h4>
                        {% else %}
                           <h4> <p> Le prix est de :
                                {{ activity.price }} €</p></h4>
                            {%  endif %}




                        <h4><a class="btn btn-primary" href="{{ path('add_photo', {'activityId' : activity.id}) }}">Ajouter une photo</a> <a class="btn btn-primary" href="">Participer à l'activité</a></h4>

                        <br>

                    {% endfor %}

            <h4><a class="btn btn-primary" href="{{ path('create_activity') }}">Soumettre une activité</a></h4>

            </div>
        </div>


{% endblock %}